div {
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

table > caption {
    font-size: 30pt;
    font-weight: 600;
}
table {
    margin: 0 auto;
}

.box-navbar{
    display: flex;
    margin-bottom: 20px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}


button{
    margin: 10px;
    width: 200px;
    height: 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-download:hover {
    background: #116c0e;
}

.btn-logout:hover {
    background: rgb(187, 43, 43);
}

th {
    margin: 5px 30px;
}