.container{
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(189, 225, 238);
  }

.header{
text-align: center;
margin-top: 30px;
text-shadow: 8px 8px 6px #413f3f;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

input {
    margin: 10px 30px;
    width: 400px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
}

button {
    margin: 10px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    background: rgb(92, 245, 92);
}
