.container{
    margin-top: 5vw;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    border-radius: 5%;
    background-color: rgb(178, 222, 239);
  }

.header{
text-align: center;
margin-top: 30px;
text-shadow: 8px 8px 6px #130404;
}

/* form {
    display: flex;
    flex-direction: column;
} */

label {
    font-weight: bold;
  }

.input-rp {
    margin: 10px 30px;
    width: 600px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
}

button {
    margin: 10px;
    width: 100px;
    height: 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

button:hover {
    background-color: #0056b3;
  }